# 2016 GVA Publication

In [88]:
# the cwd is the directory where the notebook is located
# this means that need to make sure that any paths in the notebook are not relative, 
# else they will fail when used by pytest.
# I think this is a better approach than changing the cwd to  gva/ 
import os
os.getcwd()

'/Users/max.unsted/projects/gva/publications/Nov_2016'

#### Import packages and define paths to directories

In [1]:
# this will automatically reload the gva package when changes have been made
#%load_ext autoreload
#%autoreload 2

import pandas as pd
import numpy as np
import os
import sys

# find path to root directory
if os.path.exists(os.path.abspath(os.path.join('src'))):
    module_path = os.path.abspath(os.path.join(''))
else: 
    module_path = os.path.abspath(os.path.join('../..'))

# add root directory to sys.path so we that our packages can be found
if module_path not in sys.path:
    sys.path.append(module_path)
        
# import package functions
from src.functions import read_abs, read_charities, read_tourism, read_gva, read_sic91, combine_gva, aggregate_data, make_table

# specify output directory
output_dir = os.path.join(module_path, 'publications/Nov_2016')

#package_dir = os.path.dirname(os.path.abspath(__file__))
#output_dir = os.path.join(module_path, 'outputs')

# set path to raw data excel file
path = '/Volumes/Data/EAU/Statistics/Economic Estimates/2017 publications/November publication/GVA - current/Working_file_dcms_V11 2016 Data.xlsx'

## Part 1 - Read in, clean, and aggregate data

#### Read in and clean up raw data in excel file

In [2]:
abs = read_abs(path)
charities = read_charities(path)
tourism = read_tourism(path)
gva = read_gva(path)
sic91 = read_sic91(path)

#### Combine sic level data read in above into a single dataset

In [3]:
combined_gva = combine_gva(abs, gva, sic91)

#### Aggregate data to sector level

In [4]:
agg = aggregate_data(combined_gva, gva, tourism, charities)
agg

/Users/max.unsted/projects/gva/src/functions.py:166: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  df = pd.concat([subsector_agg, sector_agg], axis=0)

     year                                sector  sub-sector           gva
0    2010                   Creative Industries     Crafts   2.919926e+02
1    2011                   Creative Industries     Crafts   3.076828e+02
2    2012                   Creative Industries     Crafts   2.843576e+02
3    2013                   Creative Industries     Crafts   2.158877e+02
4    2014                   Creative Industries     Crafts   3.955191e+02
5    2015                   Creative Industries     Crafts   3.677077e+02
6    2016                   Creative Industries     Crafts   4.213056e+02
7    2010                   Creative Industries  Publishing  2.448452e+03
8    2011                   Creative Industries  Publishing  2.066002e+03
9    2012                   Creative Industries  Publishing  2.472863e+03
10   2013                   Creative Industries  Publishing  2.255818e+03
11   2014                   Creative Industries  Publishing  2.669933e+03
12   2015                   Creative Industries  Publishing  3.109508e+03
13   2016                   Creative Industries  Publishing  3.347384e+03
14   2010                   Creative Industries  Publishing  3.180030e+01
15   2011                   Creative Industries  Publishing  2.085413e+01
16   2012                   Creative Industries  Publishing  4.815170e+01
17   2013                   Creative Industries  Publishing  7.923607e+01
18   2014                   Creative Industries  Publishing  5.950989e+01
19   2015                   Creative Industries  Publishing  5.051290e+01
20   2016                   Creative Industries  Publishing  5.437711e+01
21   2010                   Creative Industries  Publishing  2.517547e+03
22   2011                   Creative Industries  Publishing  2.346085e+03
23   2012                   Creative Industries  Publishing  2.435573e+03
24   2013                   Creative Industries  Publishing  2.457487e+03
25   2014                   Creative Industries  Publishing  2.425869e+03
26   2015                   Creative Industries  Publishing  2.590518e+03
27   2016                   Creative Industries  Publishing  2.788691e+03
28   2010                   Creative Industries  Publishing  4.431377e+03
29   2011                   Creative Industries  Publishing  4.322185e+03
..    ...                                   ...         ...           ...
747  2014                                    UK         All  1.638722e+06
748  2014                      All DCMS sectors         All  2.274977e+05
749  2014  Civil Society (Non-market charities)         All  1.978424e+04
750  2014                   Creative Industries         All  7.995282e+04
751  2014                       Cultural Sector         All  2.452089e+04
752  2014                        Digital Sector         All  1.083937e+05
753  2014                              Gambling         All  1.038900e+04
754  2014                                 Sport         All  7.752427e+03
755  2014                              Telecoms         All  3.001200e+04
756  2014                               Tourism         All  6.043757e+04
757  2015                                    UK         All  1.684937e+06
758  2015                      All DCMS sectors         All  2.398360e+05
759  2015  Civil Society (Non-market charities)         All  2.128685e+04
760  2015                   Creative Industries         All  8.530785e+04
761  2015                       Cultural Sector         All  2.563740e+04
762  2015                        Digital Sector         All  1.101554e+05
763  2015                              Gambling         All  1.105100e+04
764  2015                                 Sport         All  8.610180e+03
765  2015                              Telecoms         All  3.037200e+04
766  2015                               Tourism         All  6.464154e+04
767  2016                                    UK         All  1.744435e+06
768  2016                      All DCMS sectors         All  2.485153e+05
769  2016  Civil Society (Non-market charities)         All  2.093322e+04
770  2016                   Creative Industries         All  9.182830e+04
771  2016                       Cultural Sector         All  2.676584e+04
772  2016                        Digital Sector         All  1.164935e+05
773  2016                              Gambling         All  1.064700e+04
774  2016                                 Sport         All  9.035494e+03
775  2016                              Telecoms         All  2.995500e+04
776  2016                               Tourism         All  6.606489e+04

[679 rows x 4 columns]

#### Save aggregated data to ouputs directory

In [5]:
agg.to_csv(os.path.join(output_dir, 'gva_aggregate_data_2016.csv'), index=False)

## Part 2 - Produce outputs

#### Read in aggregate data (This is so Part 1 doesn't need to be rerun)

In [6]:
agg = pd.read_csv(os.path.join(output_dir, 'gva_aggregate_data_2016.csv'))

#### Create some summary tables

#### Dictionary of summary tables for use by the test script

In [7]:
summary_tables = {
    'gva_current': make_table(agg, 'All'),
    'gva_current_indexed': make_table(agg, 'All', indexed=True),
    'creative': make_table(agg, 'Creative Industries'),
    'digital': make_table(agg, 'Digital Sector'),
    'culture': make_table(agg, 'Cultural Sector'),
}

#### Assign all individual stats, and dataframes, used by publication outputs

In [8]:
summary_tables = {
    'gva_current': make_table(agg, 'All'),
    'gva_current_indexed': make_table(agg, 'All', indexed=True),
    'creative': make_table(agg, 'Creative Industries'),
    'digital': make_table(agg, 'Digital Sector'),
    'culture': make_table(agg, 'Cultural Sector'),
}

In [9]:
uk_current_total = summary_tables['gva_current'].loc['UK', 2016]

## Build Report

In [10]:
if __name__ == "__main__":
    %load_ext autoreload
    %autoreload 2

In [12]:
from report_maker import build
# from report_maker import build (the function) create_app
context = {
    'global': {'hello':  'nothing'},
    'money_bag': {'text': '£994'},
    'donut': {'text': '19.2'},
    'up_arrow_1': {'text': '20.6%'},
    'up_arrow_2': {'text': '40.6%'},
    'dcms_cont': uk_current_total,
}
build.all(context)

In [46]:
from report_maker import testing

In [47]:
testing.PATH

'/Users/max.unsted/projects/gva/report_maker'

In [ ]:
from report_maker import app
if __name__ == "__main__":
    app.run()

In [85]:
import os
cwd = os.getcwd()
os.path.join(cwd, "deep")

'/Users/max.unsted/projects/gva/publications/Nov_2016/deep'

In [19]:
print(__name__)

__main__